* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.room-card {
  max-width: 1240px;
  display: flex;
  border: 2px solid black;

  .room-card__figure {
    width: 500px;
    position: relative;

    .room-card__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .room-card__rating {
      position: absolute;
      top: 1.75rem;
      right: 1.25rem;
      background-color: #fff;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      border-radius: 999px;
    }
  }

  .room-card__details {
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
    padding: 2rem 2rem 1.5rem 1.25rem;
    /* width: 100%; */
    flex-grow: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }

  .room-card__price {
    /* grid-column: 2;
      justify-self: flex-end;
      margin-right: 0.5rem; */
    grid-column: 2;
    justify-self: end;
    text-align: center;

    .room-card__price-value {
      font-size: 2rem;
    }
  }
  .room-card__features {
    grid-column: auto / span 2;
  }

  .room-card__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;

    .room-card__list-item {
      background-color: aqua;
      min-width: 8rem;
      text-align: center;
      padding: 0.5rem;
    }
  }

  .room-card__btn {
    grid-column: auto / span 2;
  }
}

.room-card:nth-child(even) {
  flex-direction: row-reverse;
}
